@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500&display=swap");
body {
  background-color: #dddbf1;
  font-family: "Poppins", sans-serif;
}
#signup-form,
#login-form,  
#parking-entry-form {
  display: flex;
  flex-direction: column;
  background-color: #383f51;
  width: 520px;
  margin: 150px auto;
  border-radius: 4px;
}
#signup-form,
#login-form {
  width: 320px;
  padding: 15px;
  padding-bottom: 25px;
}
.signup-form,
.login-form,
#lot-amount,
#lot-price,
#property-name,
#prop-img {
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
#submit-signup,
#submit-login,
#add-done-btn {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bolder;
  font-size: 18px;
  color: #383f51;
}
#error-message {
  color: rgb(255, 132, 132);
  font-size: 14px;
}
#login-link,
#signup-link {
  font-size: 14px;
  text-decoration: none;
}
#form-title {
  color: #dddbf1;
}
#form-title:hover {
  color: #c9c5f2;
}
#login-link,
#signup-link,
#form-lable {
  color: #dddbf1;
}
#login-link,
#signup-link {
  margin-top: 10px;
}
#parking-entry-form {
  padding-top: 10px;
  padding-bottom: 10px;
}
#add-done-btn {
  width: 150px;
  margin-bottom: 10px;
}
#form-lable,
#lot-amount,
#lot-price,
#property-name,
#prop-img,
#error-message {
  margin-left: 65px;
}
