* {
  background-color: #dddbf1;
}
#landlord-cont,
#tenant-cont {
  display: none;
}
#title {
  margin-left: 22%;
}
#countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
  font-size: 20px;
  font-weight: 600;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
